
set editing-mode vi
set show-mode-in-prompt on
set vi-ins-mode-string \1\e[6 q\2
set vi-cmd-mode-string \1\e[2 q\2
 
set keymap vi-insert

$if mode=vi
  # Emacs mode key bindings
    "\C-a": beginning-of-line
    "\C-b": backward-char
    "\C-d": delete-char
    "\C-e": end-of-line
    "\C-f": forward-char
    "\C-k": kill-line
    "\C-l": clear-screen
    "\C-n": next-history
    "\C-p": previous-history
    "\C-r": reverse-search-history
    "\C-s": forward-search-history
    "\C-t": transpose-chars
    "\C-u": unix-line-discard
    "\C-w": backward-kill-word
    "\C-y": yank
    "\C-_": undo

    "\M-b": backward-word
    "\M-f": forward-word
  # Command mode key bindings
  set keymap vi-command
    "\C-h": "iprompt-switch"
$endif
