* {
  font-family:
    JetBrainsMono Nerd Font,
    FontAwesome,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
  margin: 0px 0px;

  /* --pcol1: rgb(7aa2f7); */
  /* --pcol2: rgb(9ece6a); */
  /* --bcol: rgb(24283b); */
  /* --wcol: rgb(f7768e); */
  /* --tcol: rgb(c0caf5); */

  /* --purple: rgb(bb9af7); */
  /* --yellow: rgb(e0af68); */
  /* --blue: rgb(7aa2f7); */
  /* --green: rgb(9ece6a); */
  /* --red: rgb(f7768e); */
}

@define-color bcol rgba(36, 40, 50, 0.9);

window#waybar {
  background-color: @bcol;
  /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
  /* text-align: left; */
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.empty {
  background-color: @bcol;
}
/* window#waybar.solo {
    background-color: #FFFFFF;
} */

/* window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
} */

button {
  /* Use box-shadow instead of border so the text isn't offset */
  /* box-shadow: inset 0 -3px transparent; */
  /* Avoid rounded borders under each button name */
  border-bottom: 3px solid transparent;
  border-radius: 0;
  margin: 0px 0px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #ffffff;
}

#workspaces button:hover {
  /* background: rgba(0, 0, 0, 0.2); */
}

#workspaces button.empty {
  color: #888888;
}

#workspaces button.active.hosting-monitor {
  color: #ffffff;
  /* background-color: #64727D; */
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.focused {
  /* background-color: #64727D; */
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background-color: #64727d;
  box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
  padding: 0 10px;
  color: #ffffff;
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  border-bottom: 3px solid #64727d;
}

#battery {
  border-bottom: 3px solid #501020;
  margin-left: 0px;
}

#battery.charging,
#battery.plugged {
  color: #ffffff;
  /* background-color: #26A65B; */
  border-bottom: solid 3px #26a65b;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  /* background-color: #f53c3c; */
  border-bottom: 3px solid #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#power-profiles-daemon {
  /* padding-left: 15px; */
  margin-right: 0px;
}

#power-profiles-daemon.performance {
  border-bottom: 3px solid #f53c3c;
  color: #ffffff;
}

#power-profiles-daemon.balanced {
  border-bottom: 3px solid #2980b9;
  color: #ffffff;
}

#power-profiles-daemon.power-saver {
  border-bottom: 3px solid #2ecc71;
  color: #ffffff;
}

label:focus {
  background-color: #000000;
}

#cpu {
  border-bottom: 3px solid #2ecc71;
}

#memory {
  border-bottom: 3px solid #9b59b6;
}

#disk {
  /* background-color: #964B00; */
  border-bottom: 3px solid #964b00;
}

#backlight {
  border-bottom: 3px solid #90b1b1;
}

#network {
  border-bottom: 3px solid #2980b9;
}

#network.disconnected {
  border-bottom: 3px solid #f53c3c;
}

#pulseaudio {
  border-bottom: 3px solid #f1c40f;
  color: #ffffff;
}

#pulseaudio.muted {
  border-bottom: 3px solid #90b1b1;
}

#wireplumber {
  border-bottom: 3px solid #fff0f5;
  color: #000000;
}

#wireplumber.muted {
  border-bottom: 3px solid #f53c3c;
}

#custom-media {
  border-bottom: 3px solid #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
  border-bottom: 3px solid #66cc99;
}

#custom-media.custom-vlc {
  border-bottom: 3px solid #ffa000;
}

#temperature {
  border-bottom: 3px solid #f0932b;
}

#temperature.critical {
  border-bottom: 3px solid #eb4d4b;
}

#tray {
  /* background-color: #2980b9; */
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  /* background-color: #eb4d4b; */
  border-bottom: 3px solid #eb4d4b;
}

#idle_inhibitor {
  border-bottom: 3px solid #2d3436;
}

#idle_inhibitor.activated {
  border-bottom: 3px solid #ecf0f1;
  color: #2d3436;
}

#mpris {
  /* background-color: #888888; */
  border-bottom: 3px solid #888888;
}
/* #mpris.${status} */
/* #mpris.${player} */

#language {
  background: #00b093;
  color: #740864;
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state {
  font-size: 18px;
  /* background: #97e1ad; */
  /* border-bottom: 3px solid #97e1ad; */
  box-shadow: inset 0 -3px #97e1ad;
  /* color: #000000; */
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  /* background: rgba(0, 0, 0, 0.2); */
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  /* box-shadow: inset 0 -3px #ffffff; */
}

#scratchpad {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
  /* background-color: transparent; */
  border-bottom: 3px solid transparent;
}

#privacy {
  padding: 0;
}

#privacy-item {
  padding: 0 5px;
  color: white;
}

#privacy-item.screenshare {
  border-bottom: 3px solid #cf5700;
}

#privacy-item.audio-in {
  border-bottom: 3px solid #1ca000;
}

#privacy-item.audio-out {
  border-bottom: 3px solid #0069d4;
}

#custom-num_windows {
  border-bottom: 3px solid #cccccc;
  padding-left: 8px;
}
